<%= hidden_field_tag :newest_gift_id, @newest_gift_id, :id => "newest-gift-id" %>
<%= hidden_field_tag :newest_status_update_at, @newest_status_update_at, :id => "newest-status-update-at" %>

<script>
    Gofreerev.reset_last_user_ajax_comment_at ;
    <%=
      # recheck invalid picture urls with owner permissions
      @missing_api_picture_urls
    %>

</script>

<a href="#" id="share_gift" style="display: none">share gift</a>

<%# create new gift form. note that Gofreerev.csv_gift always returns false. HTML submit is not used. Ajax is used to send data to server. -%>
<div style="width: 100%"><%= t '.create_gift_header_line' %></div>
<div style="width: 100%">
  <%= form_for @gift, :html => {:enctype => 'multipart/form-data', :id => 'new_gift'} do |f| -%>
      <table>
        <tr title="<%= t '.price_title', :min_interest => NEG_INT_POS_BALANCE_PER_YEAR, :max_interest => NEG_INT_NEG_BALANCE_PER_YEAR %>">
          <td><%= t '.price_prompt' %></td>
          <td>
            <%= f.text_field(:price, :size => 10, :maxlength => 10, :placeholder => t('.price_placeholder')) %>
            <%= t '.price_free' %>
            <%= @users.first.currency %>
            &nbsp;&nbsp;&nbsp;
            <div style="text-wrap: none">
              <%= t '.direction_giver_prompt' %> <%= f.radio_button :direction, 'giver' %>&nbsp;&nbsp;
              <%= t '.direction_receiver_prompt' %> <%= f.radio_button :direction, 'receiver' %>
            </div>
          </td>
        </tr>
        <tr title="<%= t '.description_title' %>">
          <td style="vertical-align: top"><%= t '.description_prompt' %></td>
          <td><%= f.text_area :description, :size => '60x2', :placeholder => t('.description_placeholder'), :onfocus => 'Gofreerev.autoresize_text_field(this)', :class => 'new_gift_text' %>
            <%= f.submit t('.gift_submit_button_text'), :onclick => '{Gofreerev.csv_gift();return false}', :name => 'commit_gift', :class => 'new_gift_submit_large' %></td>
        </tr>
        <tr title="<%= t ".file_title_#{post_image_allowed?()}", :appname => APP_NAME %>">
          <td>
            <div class="fileupload bottom">
              <%= t '.file_prompt' %>
              <%= file_field_tag :gift_file, :disabled => !post_image_allowed?(), :id => "gift_file", :class => "upload", :accept => ".gif,.jpg,.jpeg,.png,.bmp,capture=camera" %>
              <%= f.hidden_field :datatype %>
            </div>
          </td>
          <td>
            <table>
              <tbody>
              <tr>
                <td><%= text_field_tag '', '', :id => "disp_gift_file", :placeholder => t('.file_placeholder'), :disabled => "disabled", :style => "line-height:16px;" %></td>
                <td>
                  <table class="new_gift_link_large">
                    <tbody>
                    <tr>
                      <td><%= t '.link_prompt' %></td>
                      <td><%= f.text_field(:open_graph_url, :size => 28, :maxlength => 200, :placeholder => t('.link_placeholder'), :id => "gift_open_graph_url1", :class => 'gift_open_graph_url', :oninput=>"gift_open_graph_url_sync(this)") %></td>
                    </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr class="new_gift_link_small">
          <td><%= t '.link_prompt' %></td>
          <td><%= f.text_field(:open_graph_url, :size => 28, :maxlength => 200, :placeholder => t('.link_placeholder'), :id => "gift_open_graph_url2", :class => 'gift_open_graph_url', :oninput=>"gift_open_graph_url_sync(this)") %></td>
        </tr>
        <tr>
          <td colspan="2">
            <div id="gift_preview" class="files"></div>
          </td>
        </tr>
        <tr class="new_gift_submit_small">
          <td></td>
          <td><%= f.submit t('.gift_submit_button_text'), :onclick => '{Gofreerev.csv_gift();return false}', :name => 'commit_gift' %></td>
        </tr>
      </table>
  <% end # form   -%>
</div>
<%# Modernizr.progressbar is required -%>
<div class="demo-wrapper html5-progress-bar" id="progressbar-div" style="display: none">
  <div class="progress-bar-wrapper">
    <progress id="progressbar" value="0" max="100"></progress>
    <span class="progress-value">0%</span>
  </div>
</div>
<div style="width: 100%">
  <hr>
</div>

<%# special messages to new users how to get started -%>
<% if @api_gifts.size == 0
     hr = true
-%>
    <div id="no-gifts-div" style="width: 100%">
      <%= t '.no_gifts_was_found_html', :appname => APP_NAME %>
    </div>
<% end -%>
<% if User.no_app_friends(@users) == 0 -%>
    <%= hr = true ; render :partial => 'shared/no_app_friends' %>
<% end -%>
<% if hr -%>
    <div style="width: 100%">
      <hr>
    </div>
<% end -%>

<%# gifts table -%>
<div style="width: 100%">
  <table  id="gifts" style="table-layout:fixed; <%= 'display: none; ' if @api_gifts.size == 0  %>">
    <thead>
    <%= render :partial => 'table_header_row' %>
    </thead>
    <tbody id="gifts_tbody">
    <%= render :partial => 'api_gifts' %>
    </tbody>
    <tfoot>
    <tr id="show-more-rows-spinner">
      <td colspan="4">
        <img src="/images/ajax-loading-64.gif"/>
      </td>
    </tr>
    <tr>
      <td colspan="4">
        <table>
          <tbody id='show-more-rows-errors' class="ajax_errors">
          </tbody>
        </table>
      </td>
    </tr>
    </tfoot>
  </table>
</div>
<br/>

<%# add remote link to get more rows and call javascript to setup end of page event and post ajax handling of the new rows. set DEBUG_AJAX to true in initializers/constraints.rb to get more ajax debug information -%>
<%= link_to "show-more-rows", "/gifts?last_row_id=#{@last_row_id}",
            :remote => true, :data => { :type => :script }, :format => :js,
            :id => "show-more-rows-link", :style => "display: none" %>
<%= render :partial => 'shared/show_more_rows', :locals => {:show_more_rows => 'gifts'} %>

<script>
  // new gift. check for /gifts?url=..&text==.. share link
  // ajax get open graph meta tags in 2 seconds and display open graph preview under link
  (function () {
      var url = document.getElementById('gift_open_graph_url1') ;
      if (url.value) gift_open_graph_url_sync(url) ;
  })();
</script>

<!--
  The File Upload processing plugin
  https://blueimp.github.io/jQuery-File-Upload/
  Some scripts have to be included here!
-->
<script src="/assets/jquery.fileupload-process.js"></script>
<script src="/assets/jquery.fileupload-image.js"></script>
<script src="/assets/jquery.fileupload-validate.js"></script>

<script>
    /*jslint unparam: true, regexp: true */
    /*global window, $ */
    $(function () {
        'use strict';
        // Change this url to the location of your server-side upload handler:
        var url = '/gifts/',
                uploadButton = $('<button/>')
                        .addClass('btn btn-primary')
                        .prop('disabled', true)
                        .prop('id', 'gift_file_button')
                        .css('display', '')
                        .text('Processing...')
                        .on('click', function () {
                            var $this = $(this),
                                    data = $this.data();
                            $this
                                    .off('click')
                                    .text('Abort')
                                    .on('click', function () {
                                        $this.remove();
                                        data.abort();
                                    });
                            data.submit().always(function () {
                                $this.remove();
                            });
                        }) ;
        $('#gift_file').fileupload({
            url: url,
            dataType: 'json',
            autoUpload: false,
            acceptFileTypes: /(\.|\/)(gif|jpe?g|png|bmp)$/i,
            maxFileSize: 5000000, // 5 MB
            // Enable image resizing, except for Android and Opera,
            // which actually support image resizing, but fail to
            // send Blob objects via XHR requests:
            disableImageResize: /Android(?!.*Chrome)|Opera/
                    .test(window.navigator.userAgent),
            previewMaxWidth: 100,
            previewMaxHeight: 100,
            previewCrop: true
        }).on('fileuploadadd', function (e, data) {
            var disp_gift_file = document.getElementById('disp_gift_file');
            $.each(data.files.reverse(), function (index, file) {
                var filetype = data.originalFiles[index].type ;
                if (!/^image\/(gif|jpe?g|png|bmp)$/.test(filetype)) {
                    // invalid filetype - remove from file arrays
                    data.originalFiles.splice(index,1) ;
                    data.files.splice(index,1) ;
                }
                else {
                    // filetype ok - keep only "last" file in gift_preview
                    $('#gift_preview').empty();
                    // clear any old open graph url
                    var open_graph_url ;
                    open_graph_url = document.getElementById('gift_open_graph_url1') ;
                    if (open_graph_url) open_graph_url.value = '' ;
                    open_graph_url = document.getElementById('gift_open_graph_url2') ;
                    if (open_graph_url) open_graph_url.value = '' ;
                    // preview file
                    data.context = $('<div/>').appendTo('#gift_preview');
                    var node = $('<p/>') ;
                    //        .append($('<span/>').text(file.name));
                    if (disp_gift_file) disp_gift_file.value = file.name ;
                    if (!index) {
                        node
                                .append(uploadButton.clone(true).data(data));
                    }
                    node.appendTo(data.context);
                }
            });
        }).on('fileuploadprocessalways', function (e, data) {
            var index = data.index,
                    file = data.files[index],
                    node = $(data.context.children()[index]);
            if (file.preview) {
                node
                        .prepend('<br>')
                        .prepend(file.preview);
            }
            if (file.error) {
                node
                        .append('<br>')
                        .append($('<span class="text-danger"/>').text(file.error));
            }
            if (index + 1 === data.files.length) {
                data.context.find('button')
                        .text('Upload')
                        .prop('disabled', !!data.files.error);
            }
        }).on('fileuploadprogressall', function (e, data) {
            var progress = parseInt(data.loaded / data.total * 100, 10);
            $('#progress .progress-bar').css(
                    'width',
                    progress + '%'
            );
        }).on('fileuploaddone', function (e, data) {
            $.each(data.result.files, function (index, file) {
                if (file.url) {
                    var link = $('<a>')
                            .attr('target', '_blank')
                            .prop('href', file.url);
                    $(data.context.children()[index])
                            .wrap(link);
                } else if (file.error) {
                    var error = $('<span class="text-danger"/>').text(file.error);
                    $(data.context.children()[index])
                            .append('<br>')
                            .append(error);
                }
            });
        }).on('fileuploadfail', function (e, data) {
            $.each(data.files, function (index) {
                var error = $('<span class="text-danger"/>').text('File upload failed.');
                $(data.context.children()[index])
                        .append('<br>')
                        .append(error);
            });
        }).prop('disabled', !$.support.fileInput)
                .parent().addClass($.support.fileInput ? undefined : 'disabled');
    });
</script>