<%= hidden_field_tag :newest_gift_id, @newest_gift_id, :id => "newest-gift-id" %>
<%= hidden_field_tag :newest_status_update_at, @newest_status_update_at, :id => "newest-status-update-at" %>

<script>
    Gofreerev.reset_last_user_ajax_comment_at ;
    <%=
      # recheck invalid picture urls with owner permissions
      @missing_api_picture_urls
    %>

</script>

<a href="#" id="share_gift" style="display: none">share gift</a>

<div ng-controller="GiftsCtrl as ctrl">

<%# create new gift form. note that Gofreerev.csv_gift always returns false. HTML submit is not used. Ajax is used to send data to server. -%>
<div style="width: 100%" ng-show="ctrl.new_gift.show()">
  {{ctrl.texts.new_gift.header_line}}<br>
  <%= form_for @gift, :remote => true, :html => {:enctype => 'multipart/form-data', :name => 'new_gift_form', 'ng-submit' => 'ctrl.create_new_gift()'} do |f| %>
      <table>
        <tr title="{{ctrl.texts.new_gift.price_title}}">
          <td>{{ctrl.texts.new_gift.price_prompt}}</td>
          <td>
            <%= f.text_field :price, :size => 10, :maxlength => 10, :placeholder => '{{ctrl.texts.new_gift.price_placeholder}}', "ng-model" => 'ctrl.new_gift.price' %>
            {{ctrl.texts.new_gift.price_free}} {{ctrl.new_gift.currency}} &nbsp;&nbsp;&nbsp;
            <div style="text-wrap: none">
              {{ctrl.texts.new_gift.direction_giver_prompt}} <%= f.radio_button :direction, 'giver', 'ng-model' => 'ctrl.new_gift.direction', :id => nil %>&nbsp;&nbsp;
              {{ctrl.texts.new_gift.direction_receiver_prompt}} <%= f.radio_button :direction, 'receiver', 'ng-model' => 'ctrl.new_gift.direction', :id => nil %>
            </div>
          </td>
        </tr>
        <tr title="{{ctrl.texts.new_gift.description_title}}">
          <td style="vertical-align: top">{{ctrl.texts.new_gift.description_prompt}}</td>
          <td><%= f.text_area :description, :size => '60x2', :placeholder => '{{ctrl.texts.new_gift.description_placeholder}}', :onfocus => 'Gofreerev.autoresize_text_field(this)', :class => 'new_gift_text', :required => true, 'ng-model' => 'ctrl.new_gift.description' %>
            <%= f.submit '{{ctrl.texts.new_gift.submit_button_text}}', "ng-disabled" => 'new_gift_form.$invalid', :name => 'commit_gift', :class => 'new_gift_submit_large' %></td>
        </tr>
        <tr title="{{ctrl.texts.new_gift.file_title_<%= post_image_allowed?() %>}}">
          <td>
            <div class="fileupload bottom" ng-hide="ctrl.new_gift.is_file_upload_disabled()">
              {{ctrl.texts.new_gift.file_prompt}}
              <%= file_field_tag :gift_file, :id => "gift_file", :class => "upload", :accept => ".gif,.jpg,.jpeg,.png,.bmp,capture=camera" %>
              <%= f.hidden_field :datatype %>
            </div>
            <div ng-show="ctrl.new_gift.is_file_upload_disabled()">{{ctrl.texts.new_gift.link_prompt1}}</div>
          </td>
          <td>
            <table>
              <tbody>
              <tr>
                <td><%= text_field_tag '', '', :id => "disp_gift_file", :placeholder => '{{ctrl.texts.new_gift.file_placeholder}}', :disabled => "disabled", :style => "line-height:16px;", "ng-hide" => "ctrl.new_gift.is_file_upload_disabled()" %></td>
                <td>
                  <table class="new_gift_link_large">
                    <tbody>
                    <tr>
                      <td><div ng-hide="ctrl.new_gift.is_file_upload_disabled()">{{ctrl.texts.new_gift.link_prompt2}}</div></td>
                      <td>
                        <%= f.text_field :open_graph_url, :type => 'url', :size => 28, :maxlength => 200, :placeholder => '{{ctrl.texts.new_gift.link_placeholder}}',
                                         :id => "gift_open_graph_url1", :class => 'gift_open_graph_url',
                                         'ng-model' => 'ctrl.new_gift.open_graph_url', 'ng-change' => 'ctrl.new_gift_open_graph_url_change()' %>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr class="new_gift_link_small">
          <td>
            <div ng-show="ctrl.new_gift.is_file_upload_disabled()">{{ctrl.texts.new_gift.link_prompt1}}</div>
            <div ng-hide="ctrl.new_gift.is_file_upload_disabled()">{{ctrl.texts.new_gift.link_prompt2}}</div>
          </td>
          <td><%= f.text_field :open_graph_url, :type => 'url', :size => 28, :maxlength => 200, :placeholder => '{{ctrl.texts.new_gift.link_placeholder}}',
                               :id => "gift_open_graph_url2", :class => 'gift_open_graph_url',
                               'ng-model' => 'ctrl.new_gift.open_graph_url', 'ng-change' => 'ctrl.new_gift_open_graph_url_changed()' %></td>
        </tr>
        <tr>
          <td colspan="2">
            <div id="gift_preview1"><%# open graph link preview %>
              <table>
                <tbody>
                <tr ng-show="ctrl.new_gift.open_graph_image">
                  <td><img width="200" ng-src="{{ctrl.new_gift.open_graph_image}}"></td>
                </tr>
                <tr ng-show="ctrl.new_gift.open_graph_title">
                  <td><b>{{ctrl.new_gift.open_graph_title}}</b></td>
                </tr>
                <tr ng-show="ctrl.new_gift.open_graph_description">
                  <td>{{ctrl.new_gift.open_graph_description}}</td>
                </tr>
                <tr ng-show="ctrl.new_gift.open_graph_error">
                  <td>{{ctrl.new_gift.open_graph_error}}</td>
                </tr>
                </tbody>
              </table>
            </div>
            <div id="gift_preview2" class="files"></div><%# image upload preview %>
          </td>
        </tr>
        <tr class="new_gift_submit_small">
          <td></td>
          <td><%= f.submit '{{ctrl.texts.new_gift.submit_button_text}}', "ng-disabled" => 'new_gift_form.$invalid', :name => 'commit_gift' %></td>
        </tr>
      </table>
  <% end # form   -%>
</div>

<%#
  #  inject file upload status from rails to angularJS and File Upload Plugin (drag & drop)
  #  is post on wall / image upload allowed? show/hide image upload elements in html page
  #  todo: angularJS: move post_image_allowed? code to client so that this rails => JS injection can be removed
-%>
<script>
    Gofreerev.set_file_upload_enabled(<%= post_image_allowed? %>) ;
</script>

<%# Modernizr.progressbar is required -%>
<div class="demo-wrapper html5-progress-bar" id="progressbar-div" style="display: none">
  <div class="progress-bar-wrapper">
    <progress id="progressbar" value="0" max="100"></progress>
    <span class="progress-value">0%</span>
  </div>
</div>
<div style="width: 100%">
  <hr>
</div>

<%# special messages to new users how to get started -%>
<% if @api_gifts.size == 0
     hr = true
-%>
    <div id="no-gifts-div" style="width: 100%">
      <%= t '.no_gifts_was_found_html', :appname => APP_NAME %>
    </div>
<% end -%>
<% if User.no_app_friends(@users) == 0 -%>
    <%= hr = true ; render :partial => 'shared/no_app_friends' %>
<% end -%>
<% if hr -%>
    <div style="width: 100%">
      <hr>
    </div>
<% end -%>


<%# gifts table -%>
<div style="width: 100%">
  <table  id="gifts" style="table-layout:fixed; <%= 'display: none; ' if @api_gifts.size == 0  %>">
    <%# table header from partial gifts/table_header_row -%>
    <thead>
    <tr style="vertical-align: bottom;">
      <th style="width: 52px; text-align: center">{{ctrl.texts.gifts.header.giver}}</th>
      <th style="width: 52px; text-align: center">{{ctrl.texts.gifts.header.receiver}}</th>
      <th style="width: 52px; text-align: center"></th>
      <th>{{ctrl.texts.gifts.header.link_and_text}}</th>
    </tr>
    </thead>
    <tbody id="gifts_tbody">
    <%# start gift ng-repeat block -%>
    <tr style="vertical-align: top" id="gift-{{gift.giftid}}-header" ng-repeat-start="gift in ctrl.gifts">
      <td><%# giver image or blank -%>
        <div ng-show='gift.user_id_giver' title="{{gift.user_id_giver | formatUserImgTitle}}" ng-click="ctrl.user_div_on_click(gift.user_id_giver)">
          <div>
            <img class="small_pro_pic" ng-src="{{gift.user_id_giver | formatUserImgSrc}}"/>
          </div>
        </div>
        <img ng-hide='gift.user_id_giver' src="/images/invisible-picture.gif" class="small_profile_picture"/>
      </td>
      <td><%# receiver image or blank -%>
        <div ng-show='gift.user_id_receiver' title="{{gift.user_id_receiver | formatUserImgTitle}}" ng-click="ctrl.user_div_on_click(gift.user_id_receiver)">
          <div>
            <img class="small_pro_pic" ng-src="{{gift.user_id_receiver | formatUserImgSrc}}"/>
          </div>
        </div>
        <img ng-hide='gift.user_id_receiver' src="/images/invisible-picture.gif" class="small_profile_picture"/>
      </td>
      <td colspan="2" class="wrapword" style="vertical-align: top;">
        <table>
          <tr><%# 1: gift row with link and text %>
            <td>
              <div style="max-height: 150px; overflow: hidden" id="gift-{{gift.giftid}}-overflow-text">
                <a href="/{{ctrl.language}}/gifts/{{gift.giftid}}" title="{{ctrl.texts.gifts.link_title}}">
                  {{gift | formatGiftLinkText:2}}
                </a> : <span ng-bind-html="gift.description | formatGiftDescription"/>
              </div>
            </td>
          </tr>
          <tr ng-show="ctrl.show_full_text_link(gift,1)"><%# 2: hidden row with "show full text" link used for large description + image attachment %>
            <td style="text-align: center">
              <div style="float: none">
                <a href ng-click="ctrl.show_full_text(gift.giftid)">{{ctrl.texts.gifts.show_full_text}}</a>
              </div>
            </td>
          </tr>
          <tr ng-show="ctrl.show_api_picture_url(gift)"><%# 3: table row with image attachment %>
            <td>
              <img id="gift-{{gift.giftid}}" ng-src="{{gift.api_picture_url}}" width="200" onerror="Gofreerev.imgonerror(this)" onload="Gofreerev.imgonload(this)">
            </td>
          </tr>
          <tr ng-show="ctrl.show_open_graph_image(gift)"><%# 4: table row with open graph image - no error handling yet %>
            <td>
              <a href="{{gift.open_graph_url}}" target="_blank">
                <img id="gift-{{gift.giftid}}-image" ng-src="{{gift.open_graph_image}}" width="200" onerror="Gofreerev.imgonerror(this)" onload="Gofreerev.imgonload(this)">
              </a>
            </td>
          </tr>
          <tr ng-show="ctrl.show_open_graph_title(gift)"><%# 5: table row with open graph title %>
            <td>
              <b>{{gift.open_graph_title}}</b>
            </td>
          </tr>
          <tr ng-show="ctrl.show_open_graph_description(gift)"><%# 6: table row with open graph description %>
            <td>
              {{gift.open_graph_description}}
            </td>
          </tr>
        </table>
      </td>
    </tr>

    <tr id='gift-{{gift.giftid}}-links'>
      <td colspan="2"></td>
      <td colspan="2">
        <%# link 1 - show full text. link=2. gift without picture %>
        <div ng-show="ctrl.show_full_text_link(gift,2)">
          <a href ng-click="ctrl.show_full_text(gift.giftid)">{{ctrl.texts.gifts.show_full_text}}</a> -&nbsp;
        </div>
        <%# link 2 & 3 - like and unlike gift %>
        <div ng-hide="gift.like">
          <a href ng-click="ctrl.like_gift(gift)">{{ctrl.texts.gifts.like_gift}}</a>
        </div>
        <div ng-show="gift.like">
          <a href ng-click="ctrl.unlike_gift(gift)">{{ctrl.texts.gifts.unlike_gift}}</a>
        </div>
        <%# link 4 - share gift is not relevant in lo version %>
        <%# link 5 - delete gift %>
        <%# link 6 - hide gift %>
        <%# link 7 - show older comments %>
      </td>
    </tr>

    <tr id='gift-{{gift.giftid}}-comment-new'>
      <td colspan="2" style="text-align: right; vertical-align: top">
      </td>
      <td colspan="2">
      </td>
    </tr>

    <tr id="gift-{{gift.giftid}}-footer-1" ng-repeat-end>
      <td colspan="4">
        <hr/>
      </td>
    </tr>
    <%# end gift ng-repeat block -%>

    <%# ajax: dummy row - placeholder for object id for last row in html table. Used in ajax request for next set of rows -%>
    <% if @last_row_id -%>
        <tr style="display: none" id='<%= "last-row-id-#{@last_row_id}" %>'>
          <td colspan="4"></td>
        </tr>
    <% else -%>
        <tr style="display: none">
          <td colspan="4"></td>
        </tr>
    <% end -%>

    </tbody>
    <tfoot>
    <tr id="show-more-rows-spinner">
      <td colspan="4">
        <img src="/images/ajax-loading-64.gif"/>
      </td>
    </tr>
    <tr>
      <td colspan="4">
        <table>
          <tbody id='show-more-rows-errors' class="ajax_errors">
          </tbody>
        </table>
      </td>
    </tr>
    </tfoot>
  </table>
</div>

</div><%# end of GiftsCtrl -%>

<br/>



<%# add remote link to get more rows and call javascript to setup end of page event and post ajax handling of the new rows. set DEBUG_AJAX to true in initializers/constraints.rb to get more ajax debug information -%>
<%= link_to "show-more-rows", "/gifts?last_row_id=#{@last_row_id}",
            :remote => true, :data => { :type => :script }, :format => :js,
            :id => "show-more-rows-link", :style => "display: none" %>
<%= render :partial => 'shared/show_more_rows', :locals => {:show_more_rows => 'gifts'} %>



<!--
  The File Upload processing plugin
  https://blueimp.github.io/jQuery-File-Upload/
  Some scripts have to be included here!
-->

<script src="/assets/jquery.fileupload-process.js"></script>
<script src="/assets/jquery.fileupload-image.js"></script>
<script src="/assets/jquery.fileupload-validate.js"></script>

<script>
    /*jslint unparam: true, regexp: true */
    /*global window, $ */
    $(function () {
        'use strict';
        // Change this url to the location of your server-side upload handler:
        var url = '/gifts/',
                uploadButton = $('<button/>')
                        .addClass('btn btn-primary')
                        .prop('disabled', true)
                        .prop('id', 'gift_file_button')
                        .css('display', 'none')
                        .text('Processing...')
                        .on('click', function () {
                            console.log('uploadButton, onclick: start') ;
                            debug_file_upload_plugin();
                            var $this = $(this),
                                    data = $this.data();
                            $this
                                    .off('click')
                                    .text('Abort')
                                    .on('click', function () {
                                        $this.remove();
                                        data.abort();
                                    });
                            console.log('uploadButton, onclick: data = ' + JSON.stringify(data)) ;
                            data.submit().always(function () {
                                $this.remove();
                            });
                        }) ;
        $('#gift_file').fileupload({
            url: url,
            dataType: 'json',
            autoUpload: false,
            acceptFileTypes: /(\.|\/)(gif|jpe?g|png|bmp)$/i,
            maxFileSize: 5000000, // 5 MB
            // Enable image resizing, except for Android and Opera,
            // which actually support image resizing, but fail to
            // send Blob objects via XHR requests:
            disableImageResize: /Android(?!.*Chrome)|Opera/
                    .test(window.navigator.userAgent),
            previewMaxWidth: 100,
            previewMaxHeight: 100,
            previewCrop: true
        }).on('fileuploadadd', function (e, data) {
            var disp_gift_file = document.getElementById('disp_gift_file');
            $.each(data.files.reverse(), function (index, file) {
                var filetype = data.originalFiles[index].type ;
                if (Gofreerev.is_file_upload_disabled() || (!(/^image\/(gif|jpe?g|png|bmp)$/.test(filetype)))) {
                    // file upload disabled or invalid filetype - remove from file arrays
                    if (Gofreerev.is_file_upload_disabled()) Gofreerev.add2log('File upload plugin - file upload is disabled') ;
                    else Gofreerev.add2log('File upload plugin - invalid file type ' + filetype) ;
                    data.originalFiles.splice(index,1) ;
                    data.files.splice(index,1) ;
                }
                else {
                    // filetype ok - keep only "last" file in gift_preview2
                    $('#gift_preview2').empty();

                    // dirty File Upload plugin/angular integration ==>
                    // clear any old open graph url
                    var open_graph_url = $('#gift_open_graph_url1');
                    if (open_graph_url) {
                        if (open_graph_url.val() != '') {
                            open_graph_url.val('');
                            open_graph_url.trigger('input')
                        }
                    }
                    else {
                        open_graph_url = open_graph_url = $('#gift_open_graph_url2');
                        if (open_graph_url) {
                            if (open_graph_url.val() != '') {
                                open_graph_url.val('');
                                open_graph_url.trigger('input')
                            }
                        }
                    }
                    // <== dirty File Upload plugin/angular integration

                    // preview file
                    data.context = $('<div/>').appendTo('#gift_preview2');
                    var node = $('<p/>') ;
                    //        .append($('<span/>').text(file.name));
                    if (disp_gift_file) disp_gift_file.value = file.name ;
                    if (!index) {
                        node
                                .append(uploadButton.clone(true).data(data));
                    }
                    node.appendTo(data.context);
                }
            });
        }).on('fileuploadprocessalways', function (e, data) {
            var index = data.index,
                    file = data.files[index],
                    node = $(data.context.children()[index]);
            if (file.preview) {
                node
                        .prepend('<br>')
                        .prepend(file.preview);
            }
            if (file.error) {
                node
                        .append('<br>')
                        .append($('<span class="text-danger"/>').text(file.error));
            }
            if (index + 1 === data.files.length) {
                data.context.find('button')
                        .text('Upload')
                        .prop('disabled', !!data.files.error);
            }
        }).on('fileuploadprogressall', function (e, data) {
            var progress = parseInt(data.loaded / data.total * 100, 10);
            $('#progress .progress-bar').css(
                    'width',
                    progress + '%'
            );
        }).on('fileuploaddone', function (e, data) {
            $.each(data.result.files, function (index, file) {
                if (file.url) {
                    var link = $('<a>')
                            .attr('target', '_blank')
                            .prop('href', file.url);
                    $(data.context.children()[index])
                            .wrap(link);
                } else if (file.error) {
                    var error = $('<span class="text-danger"/>').text(file.error);
                    $(data.context.children()[index])
                            .append('<br>')
                            .append(error);
                }
            });
        }).on('fileuploadfail', function (e, data) {
            $.each(data.files, function (index) {
                var error = $('<span class="text-danger"/>').text('File upload failed.');
                $(data.context.children()[index])
                        .append('<br>')
                        .append(error);
            });
        }).prop('disabled', !$.support.fileInput)
                .parent().addClass($.support.fileInput ? undefined : 'disabled');
    });
</script>

